*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face{
  font-family: 'memory';
  src: url('fonts/Memory.ttf') format('truetype');
}

header{
  background-color: #90909095;
  text-align: center;
  font-family: memory;
}
header > h1{
  font-size: 60px;
  padding: 15px;
}
header > p{
  font-size: 25px;
  padding: 0 0 10px 0;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  font-size: 15px;
  padding: 7px;
}

#form{
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 70px;
  border: 5px solid #90909095;
}
#form header{
  font-size: 30px;
  padding: 10px;
  margin-bottom: 7px;
  margin: 1px;
}
#form button{
  width: 200px;
  font-size: 25px;
  padding: 10px 0;
  color: black;
  background-color: #ccc;
  border: 2px solid black;
  font-family: memory;
  margin: 7px;
  transition: all 1s ease;
}

#start{
  color: white;
  background-color: black;
  font-size: 30px;
  font-weight: 200;
  font-family: memory;
  padding: 10px;
  border: none;
  border-radius: 200px;
  margin: 12px;
}

.score{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.but{
  display: none;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;;
}
.resetbut{
  width: 200px;
  text-align: center;
  font-family: memory;
  font-size: 35px;
  background-color: black;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 200px;
}

.score > table{
  display: flex;
  background-color: #90909095;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 7px;
  font-size: 30px;
  font-weight: 800;
}
td{
  background-color: white;
  padding: 7px 15px;
  text-align: center;
}

img{
  width: 40px;
}

.ranking table{
  background-color: #90909095;
  padding: 10px;
  font-weight: 400;
  font-size: 25px;
  margin: auto;
  margin-bottom: 20px;
}

.name{
  word-wrap: break-word;
}
@media (orientation: portrait){
	#mode1{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(90vw + 30px);
	  height: calc(90vw + 30px);
	  margin-bottom: 20px;
	}
	#mode1 div{
	  width: 45vw;
	  height: 45vw;
	  margin: 5px;
	  background-color: white;
	}
	#mode2{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(84vw + 40px);
	  height: calc(84vw + 40px);
	  margin-bottom: 20px;
	}
	#mode2 div{
	  width: 28vw;
	  height: 28vw;
	  margin: 5px;
	  background-color: white;
	}

	#mode3{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(80vw + 50px);
	  height: calc(80vw + 50px);
	  margin-bottom: 20px;
	}
	#mode3 div{
	  width: 20vw;
	  height: 20vw;
	  margin: 5px;
	  background-color: white;
	}
}


@media (orientation: landscape){
	#mode1{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(80vh + 30px);
	  height: calc(80vh + 30px);
	  margin-bottom: 20px;
	}
	#mode1 div{
	  width: 40vh;
	  height: 40vh;
	  margin: 5px;
	  background-color: white;
	}
	#mode2{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(75vh + 40px);
	  height: calc(75vh + 40px);
	  margin-bottom: 20px;
	}
	#mode2 div{
	  width: 25vh;
	  height: 25vh;
	  margin: 5px;
	  background-color: white;
	}

	#mode3{
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  padding: 5px;
	  background-color: black;
	  width: calc(72vh + 50px);
	  height: calc(72vh + 50px);
	  margin-bottom: 20px;
	}
	#mode3 div{
	  width: 18vh;
	  height: 18vh;
	  margin: 5px;
	  background-color: white;
	}
}
.home{
  text-align: center;
}
.home img{
  width: 60px;
  margin-bottom: 50px;
}

#count1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: memory;
}

@media(max-width:400px){
  #form header{
    font-size: calc(10px + 2vw);
  }
  #form button{
    width: 60vw;
    max-width: 200px;
  }
  
  header h1{
    font-size: calc(10px + 12vw);
  }
  
  .score > table{
    font-size: calc(10px + 5vw);
  }
  
  #mode1{
    width: calc(80vw + 30px);
    height: calc(80vw + 30px);
  }
  #mode1 div{
    width: 40vw;
    height: 40vw;
  }
  
  #mode2{
    width: calc(84vw + 24px);
    height: calc(84vw + 24px);
    padding: 3px;
  }
  #mode2 div{
    margin: 3px;
    width: 28vw;
    height: 28vw;
  }

  #mode3{
    width: calc(80vw + 30px);
    height: calc(80vw + 30px);
    padding: 3px;
  }
  #mode3 div{
    margin: 3px;
    width: 20vw;
    height: 20vw;
  }
  
  .medal{
    max-width: 20vw;
    padding: 0;
  }
  
  .pont{
    max-width: 20vw;
    padding: 3px;
  }
  
  .name{
    max-width: 50vw;
    padding: 3px;
    word-wrap: break-word;
  }
  
  #count1{
    font-size: calc(10px + 4vw);
  }
}
